.about-text {
  column-count: 2;
  break-inside: avoid;
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 400;
}

.about {
  text-align: left;
}

.about hr {
  margin-bottom: 50px;
  border-top: 2px solid #12191C;
}

h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-top: 0;
  letter-spacing: .3rem;
}

