#home {
  font-size: 1.9rem;
  text-align: left;
  width: 45%;
  position: fixed;
  bottom: 40px;
  font-family: futura-pt, 'Alata',sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
}

#home hr {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
