.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
.navigation-sub a {
  margin-left: 50px;
}

#initials {
  font-size: 7rem;
  font-family: rig-solid-bold-inline, 'Abril Fatface', cursive, sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: transform 1s;
}

#initials:hover {
  transform: rotate(-20deg);
}

h1#initials {
  margin: 0;
}

.item {
  font-size: 20px;
}
