
html {
  scroll-snap-type: both mandatory;
}

Thumbnail {
  scroll-snap-stop: always;
}

.project {
  background-color: white;
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  margin-bottom: 40px;
}
