body {
  background-color: #F9E7E7;
  width: 65%;
  margin: 0 auto;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

hr {
  margin-top: 6rem;
  margin-bottom: 6rem;
  border-width: 0;
  border-top: 2px solid #000;
  width: 40px;
  text-align: left;
  margin-left: 0;
}

h1, h2 {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#initials {
  font-size: 5em;
  font-family: 'Abril Fatface', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
.navigation-sub a {
  margin-left: 50px;
}

.project {
  border: 1px solid black;
  width: 30%;
  height: 230px;
  margin: 0 auto;
}

.thumbnail-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#home {
  font-size: 25px;
  text-align: left;
  width: 45%;
  position: fixed;
  bottom: 50px;
  letter-spacing: .15rem;
}
