body {
  margin: 0;
  background-color: #12191C;
  height: 100%;
  font-family: 'Alata', sans-serif;
  color: #F9E7E7;

  -webkit-transition:background-color 1s ease;
  -moz-transition:background-color 1s ease;
  -o-transition:background-color 1s ease;
  transition:background-color 1s ease;
}

.main-container {
  width: 70%;
  margin: 0 auto;
}

hr {
  border-width: 0;
  border-top: 2px solid #fff;
  width: 40px;
  text-align: left;
  margin-left: 0;
}

h1, h2 {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



/* Animation Classes */
.page-enter {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}
.page-enter.page-enter-active {
  transition: all 01s ease-in-out;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.page-exit {
  opacity: 1;
}
.page-exit.page-exit-active {
  opacity: 0;
  transition: all 0.1s ease-in;
}
