body {
  margin: 0;
  background-color: #12191C;
  height: 100vh;
  font-family: futura-pt, 'Alata', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #F9E7E7;
  text-align: center;
  /* Fade-in on load effect */
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-transition:background-color 1s ease;
  -moz-transition:background-color 1s ease;
  -o-transition:background-color 1s ease;
  transition:background-color 1s ease;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

h2 {
  font-family: futura-pt, 'Alata', sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-top: 0;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  width: 70%;
  margin: 0 auto;
}

hr {
  border-width: 0;
  border-top: 2px solid #fff;
  width: 40px;
  text-align: left;
  margin-left: 0;
}

/* Animation Classes */
.page-enter {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}
.page-enter.page-enter-active {
  transition: all 01s ease-in-out;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.page-exit {
  opacity: 1;
}
.page-exit.page-exit-active {
  opacity: 0;
  transition: all 0.1s ease-in;
}
